@model NeoTokyo.ProductionBook.Models.Design

<h4>Add New Process to this Design</h4>

<table>
    <tr>
        <th>Process</th>
        <th>Department</th>
        <th>Process Time</th>
        <th></th>
    </tr>

    @using (Html.BeginForm("AddDesignProcess", "Design", new { id = Model.ID }, FormMethod.Post))
            {
                <tr>
                    <td>
                        @Html.DropDownList("ProcessID", (IEnumerable<SelectListItem>)ViewBag.Processes, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DesignProcesses.FirstOrDefault().ProcessID, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.DropDownList("DepartmentID", (IEnumerable<SelectListItem>)ViewBag.Departments, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DesignProcesses.FirstOrDefault().DepartmentID, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.TextBox("ProcessTime", "", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DesignProcesses.FirstOrDefault().ProcessTime, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        <input type="submit" class="btn btn-default" value="Add" name="Add" />
                    </td>
                </tr>
            }
</table>
