@using NeoTokyo.ProductionBook.CustomEnumTypes
@model List<NeoTokyo.ProductionBook.ViewModel.CustomerAddressLinkViewModel>

<h4>Addresses</h4>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CustomerAddressLink.Address.AddressName)
        </th>
        <th>
            Address
        </th>
        <th>
            Default Delivery
        </th>
        <th>
            Default Invoice
        </th>
    </tr>
    @foreach (var item in Model.OrderBy(i => i.CustomerAddressLink.Address.AddressName))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerAddressLink.Address.AddressName)
            </td>
            <td>
                @{
                    String address = $"{item.CustomerAddressLink.Address.AddressLine1}, {item.CustomerAddressLink.Address.AddressLine2}, {item.CustomerAddressLink.Address.County}";
                }
                @address
                @Html.DisplayText(address)
            </td>
            <td>
                @Html.DisplayFor(modelItem=>item.IsDefaultDeliveryAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDefaultInvoiceAddress)</td>
        </tr>
                    }
</table>