@model PagedList.IPagedList<ViewState.ProcessScheduler.ViewModels.DepartmentViewModel>
@using PagedList.Mvc
<link href="../../Content/PagedList.css" rel="stylesheet" type="text/css"/>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageSetUp.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Department", FormMethod.Post))
{
    <p>
        <table>
            <tr>
                <th>Find By Name</th>
                <th></th>
            </tr>
            <tr>
                <td>
                    @Html.TextBox("searchString", ViewBag.CurrentFilter as String, new {@class = "form-control"})
                </td>
                <td>
                    <input type="submit" value="Search" class="btn btn-default"/>
                </td>
            </tr>
        </table>
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.Label("Active")
        </th>
        <th>
            @Html.Label("Date Created")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Deactivate", new { id=item.ID })
        </td>
    </tr>
}

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
