@using NeoTokyo.ProductionBook.ViewModel
@model NeoTokyo.ProductionBook.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    <p>
        @Html.ActionLink("Edit", "Edit", new {id = Model.ID}) |
        @Html.ActionLink("Back to List", "Index")
    </p>

    <a class="btn btn-default" data-toggle="modal" data-target=".bootstrapmodal">Add New Address</a>

    <div class="modal fade bootstrapmodal">
        <div class="modal-dialog">
            <div class="modal-content">@Html.Partial("_AddCustomerAddress", new CustomerAddressViewModel {ID = Model.ID})</div>
        </div>
    </div>

    <div>
        @{
            var list = new List<CustomerAddressLinkViewModel>();
        }
        @foreach (var item in Model.CustomerAddressLinks)
        {
            list.Add(new CustomerAddressLinkViewModel {CustomerAddressLink = item, IsDefaultDeliveryAddress = item.Address.CustomerDefaultDeliveryAddresses.Any(), IsDefaultInvoiceAddress = item.Address.CustomerDefaultInvoiceAddresses.Any() });
        }
        @Html.Partial("_CustomerAddressLinks", list)
    </div>
</div>
