@model ViewState.ProcessScheduler.ViewModels.ProcessViewModel

@{
    ViewBag.Title = "Deactivate";
    Layout = "~/Views/Shared/_LayoutPageSetUp.cshtml";
}

<h2>Deactivate</h2>

<h3>Are you sure you want to deactivate this?</h3>
<div>
    <h4>Process</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.Label("Over Night Process")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsOverNightProcess)
        </dd>

        <dt>
            @Html.Label("Completed Status Text")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompletedStatusText)
        </dd>

        <dt>
            @Html.Label("Date Created")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deactivate" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
