@model NeoTokyo.ProductionBook.Models.Design

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

    <div>
        <h4>Design</h4>
        <hr />
        @Html.HiddenFor(model => model.ID)
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(model => model.DesignNumber)</dt>
            <dd>@Html.DisplayFor(model => model.DesignNumber)</dd>
            <dt>@Html.DisplayNameFor(model => model.Created)</dt>
            <dd>@Html.DisplayFor(model => model.Created)</dd>
            <dt>@Html.DisplayNameFor(model => model.Active)</dt>
            <dd>@Html.DisplayFor(model => model.Active)</dd>
            <dt>Designer</dt>
            <dd>@Html.DisplayFor(model => model.Designer.Staff.FullName)</dd>
        </dl>

        <p>
            @Html.ActionLink("Edit", "Edit", new {id = Model.ID}) |
            @Html.ActionLink("Back to List", "Index")
        </p>

        <div>
            @Html.Partial("_DesignProcesses", Model.DesignProcesses.ToList())
        </div>

        <div>
            @Html.Partial("_AddDesignProcess", Model)
        </div>
    </div>
