@model PagedList.IPagedList<NeoTokyo.ProductionBook.Models.Design>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css"/>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Designs</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Design", FormMethod.Get))
{
    <p>
        <table>
            <tr>
                <th>
                    Find by Design Number:
                </th>
                <th>
                    Find by Designer:
                </th>
                <th></th>
            </tr>
            <tr>
                <td>
                    @Html.TextBox("searchDesignNumberString", "", new {@class = "form-control"})
                </td>
                <td>
                    @Html.TextBox("searchDesignerString", "", new {@class = "form-control"})
                </td>
                <td>
                    <input type="submit" value="Search" class="btn btn-default"/>
                </td>
            </tr>
        </table>
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Design Number", "Index", new {sortOrder = ViewBag.DesignNumberSortParm, currentDesignNumberFilter = ViewBag.CurrentDesignNumberFilter})
        </th>
        <th>
            Date Created
        </th>
        <th>
            Active
        </th>
        <th>
            @Html.ActionLink("Designer", "Index", new {sortOrder = ViewBag.DesignerSortParm, currentDesignerFilter = ViewBag.CurrentDesignerFilter})
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DesignNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Designer.Staff.FullName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentNameFilter = ViewBag.CurrentNameFilter, currentResourceGroupFilter = ViewBag.CurrentResourceGroupFilter }))


